@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

#background-main {
  background-image: url(../../public/images/blob/pink-blob.svg),
    url(../../public/images/blob/blue-blob.svg),
    url(../../public/images/blob/blue-blob.svg),
    url(../../public/images/blob/yellow-blob.svg);
  background-position-y: 15%, 5%, 15%, 25%;
  background-position-x: 60%, 70%, 15%, 80%;
  background-repeat: no-repeat;
}
